* {
    box-sizing: border-box;
    color: white;
    background-color: #222629;
}

a {
    text-decoration: none;
}

body {
    background-color: #222629;

}

.row {
    justify-content: center;
}

.post-icons {
    width: 15%;
}

.sidebar {
    background-color: #222629;
    position: relative;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    border-right: #2b2f32 solid 2px;
}


.suggested-post {
    width: 95%;
    background-color: inherit;
}

.suggested-post__category {
    padding: 0.3rem 0.5rem;
    background-color: #545a5f;
    color: white;
}

.suggested-post__category:hover,
.post-link h2:hover,
.post-link p:hover {
    color: darkgray
}

.suggested-post__title {
    padding: 2px;
}

.create-post {
    /* position: absolute; */
    /* bottom: 10px; */
    width: 100%;
    align-items: center;
}

.create-post__button-holder,
.create-post__button-holder a {
    display: flex;
    justify-content: center;
}

.create-post__button {
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #545a5f;
    background-color: #222629;
}

a.page-link.page-btn-left-link,
a.page-link.page-btn-right-link {
    background: transparent;
    border: 2px solid #545a5f;
    color: white;
    border-radius: 10px;
}

.create-post__button:hover {
    border: 2px solid white;
}

.create-post__form {
    display: flex;
    width: 80vw;
    flex-direction: column;
    align-content: center;
}

.page-btn-left {
    position: absolute;
    left: 1rem;
}

.page-btn-right {
    position: absolute;
    right: 1rem;
}

.post-home {
    border-radius: 10px;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
    background: transparent;
}

.post-subtitle {
    background: transparent;
}

h3 {
    background-color: inherit;
}

.post-area {
    background-color: #222629;
}

.post-card {
    background-color: transparent;
    color: white;
}

.card {
    background: #545a5f;
}

.comment-form {
    background: #545a5f;
}

.comment-form *,
.comments * {
    background-color: inherit;
    color: white;
}

.comment-form.submit-comment__button {
    background-color: #222629;
}

.submit-comment__button {
    background-color: #222629;
}


.comment-form-holder textarea {
    background-color: white;
}

.card h3 {
    margin-top: 3%;
    margin-left: 2%;
}

.post-color {
    background: #545a5f;
    text-decoration: none;
}

.upvote-icon {
    background-color: #545a5f;
}

.upvoted {
    color: #ff871e;
}

.page-buttons-holder {
    width: 100%;
    margin: 0;
}

.page-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
}

.centered-btn {
    width: 120px;
    margin-top: 10px;
    align-self: center;
}

#div_id_excerpt textarea {
    height: 80px;
}

.msg {
    text-align: center;
    line-height: 6vh;
    border: solid 2px;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 10px;
}