.sidebar{
    background-color: blue;
    position: relative;
}

.post-home {

}

.post-area {
    background-color: red;
}

.create-post {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.create-post__button-holder{
    display: flex;
    justify-content: center;
}

.create-post__button {
    border-radius: 10px;
}