{% extends "base.html" %} 
{% load crispy_forms_tags %}


{% block content %}
{% if user.is_authenticated %}

<!-- <style>
    input {max-width: 12em};
</style> -->

<div class="container">
    <div class="row">
        <h3>Create a Post:</h3>
    </div>
    <div class="row">
        <form method="post" class="create-post__form" style="margin-top: 1.3em;">
            {{ post_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-dark create-post__button centered-btn">Submit</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}